.navbar {
    background-color: black;
    width: 100%;
    height: 100px;
    margin: 0;
}

.navlist li a {
    text-decoration: none; /* no underlines */
    color: white;/* no purple when clicked */
    margin-right: 225px;
}

.navbar ul {
    list-style-type: none; /* no bullet points*/
    display: flex; /* makes buttons side by side and makes it right next to each other*/ 
}